.libs
.deps
*.in
stamp-h1
.dirstamp
autom4te.cache
aclocal.m4
libtool
build
configure
config.status
Makefile
config.h

*.Plo
*~
.*.swp
*.la
*.lo
*.so*
*.o
*.trs
*.log

t/basex
t/cache
t/cert
t/hash
t/list
t/path
t/strings

t/tmp
