.libs
.deps
*.in
stamp-h1
.dirstamp
autom4te.cache
aclocal.m4
libtool
build/*
!build/coverage.m4
!build/as-compiler-flag.m4
coverage
configure
config.status
Makefile
config.h

*.substvars
*.debhelper
*.debhelper.log
debian/files
debian/libvigor0/
debian/libvigor0-dbg/
debian/libvigor-dev/
debian/tmp/
libvigor-*.tar.gz

*.Plo
*~
.*.swp
*.la
*.lo
*.so*
*.o
*.trs
*.log
*.gcda
*.gcno

docs

t/basex
t/config
t/cache
t/cert
t/hash
t/list
t/lock
t/log
t/mem
t/mq
t/path
t/proc
t/reactor
t/signals
t/strings
t/time

t/tmp
